.bp-video-widget {
  width: 100%;
}

.bp-image-widget {
  max-width: 100%;
}

.two_col {
  display: flex;
  align-items: center;
  text-align: center;
  column-gap: 80px ;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 20px;
  margin-bottom: 20px;
 

  //flex: 1;
  //flex-flow: row wrap;
// width: 100%;
  justify-content: space-between;
}

.two_col__column {
  flex: 1;
  //display: flex;
  //flex-direction: column;
 // flex:auto;
}
.enkele-kolom{
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
  display: flex;
  justify-content: space-around;
}
.enkele-kolom100{
  width:100%;
  display: inline;
}

.enkele-kolom-100-kolom img{
  width: 100%;
  max-height: 500px;
}



