.bp-video-widget {
  width: 100%;
}

.bp-image-widget {
  max-width: 100%;
}



.two_col {
  display: flex;
  align-items: center;
  text-align: center;
  column-gap: 20px ;
  margin-left: 25%;
  margin-right: 25%;
 

  //flex: 1;
  //flex-flow: row wrap;
// width: 100%;
  // justify-content: space-between;
}

.two_col__column {
  flex: 1;
  //display: flex;
  //flex-direction: column;
 // flex:auto;
}